.container
{
  width: 100%;
  display: flex;
}
.form
{
  width:30%;
}
.cards
{
  width:65%;
}

  .mat-form-field{
    width:40%;
    margin:0 20px;
    border-radius: 5%;
  }

  .mat-form-field-wrapper
  {
    background-color: white;
  }


  .country-chart
  {
    width: 30%;
  }