
<div class="container">
  <div class="form">
    <form action="" 
    (submit)="getCountryData()">
     
        <mat-form-field appearance="outline">
          <mat-label>Select a country</mat-label>
          <mat-select name="country" [(ngModel)]="val" (ngModelChange)="change($event)" >
            <mat-option [value]="country"
            *ngFor="let country of countries">{{country}}</mat-option>
          </mat-select>
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">
          Get Coronavirus Data
        </button>
      </form>
    
</div>

<div class="cards">


<app-data-card *ngIf="globalTotal" [data]="globalTotal"></app-data-card>
<br><br>
<app-data-card *ngIf="countrySpecific" [data]="countrySpecific" class="country"></app-data-card> 
</div>

</div>


<app-charts class="country-chart" 
 *ngIf="show && date.length>0 && countryConfirmed.length>0 
 && countryDeaths.length>0 
 && countryRecovered.length>0" [date]="date"
 [confirmed]="countryConfirmed" [deaths]="countryDeaths"
 [recovered]="countryRecovered"></app-charts>
