<mat-card class="card-one">


    <mat-card-title *ngIf="data.Country">
       <span>{{data.Country}}</span>
    </mat-card-title>
    <mat-card-title *ngIf="!data.Country">
      <span>Global</span>
   </mat-card-title>


    <mat-grid-list cols="5" [gutterSize]="'32px'" rowHeight="5rem" class="one">

      <mat-grid-tile style="background-color:rgb(27, 123, 248);" rowspan="2">

        <div class="header-one">
         <img src="../../../assets/1f.png">
          <p>Confirmed</p> 
          <h1>{{ data.TotalConfirmed | number}}</h1>
          <h4>+{{ data.NewConfirmed | number}}</h4> 
        </div>

      </mat-grid-tile>

      <mat-grid-tile style="background-color:rgb(2, 230, 2);" rowspan="2">
        <div class="header-one">
          <img src="../../../assets/2f.png">
          <p>Recovered</p> 
          <h1>{{ data.TotalRecovered | number}}</h1>
          <h4>+{{ data.NewRecovered | number}}</h4> 
         
        </div>

      </mat-grid-tile>

      <mat-grid-tile style="background-color:  rgb(211, 49, 49);" rowspan="2">
        <div class="header-one">
         <img src="../../../assets/3f.png">
         <p>Deaths</p> 
         <h1>{{ data.TotalDeaths | number}}</h1>
         <h4>+{{ data.NewDeaths | number}}</h4> 
        </div>
      </mat-grid-tile>

      <mat-grid-tile *ngIf="data.vaccine>0" style="background-color:  rgb(211, 49, 49);" rowspan="2">
        <div class="header-one">
          <img src="../../../assets/3f.png">
          <p>Vaccine</p> 
          <h1>{{ data.vaccine | number}}</h1>
          <!-- <h4>+{{ data.NewDeaths | number}}</h4>  -->
         </div>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2">
          <img src="../../../assets/girl.png" alt="logo" style="height: 210px;
          width: 250px;"> 
        </mat-grid-tile>

    </mat-grid-list>



  </mat-card>