<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body>
  <h1>Coronavirus Tracker</h1>
  <label for="country">Country</label>
  <select name="country" id="" (change)="getCountry($event.target.value)">
    <option value="" disabled selected>Select a country</option>
    <option value={{country.Slug}} *ngFor="let country of countries">{{country.Country}}</option>
  </select>
  <br><br>
  <button (click)="getData()">
    Get Coronavirus Data
  </button>
  <h1>Total Confirmed Cases:{{confirmed}}</h1>
  <h1>Total Recovered Cases:{{recovered}}</h1>
  <h1>Total Deaths:{{deaths}}</h1>
</body>
</html>